In [1]:
!pip install sqlalchemy
!pip install mysqlclient

Requirement already satisfied: sqlalchemy in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: mysqlclient in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (2.2.6)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
import pandas as pd


movie_data = pd.read_csv("D:\movie_project\project\data\Bollywood-Movie-Dataset\IMDB-Movie-Dataset(2023-1951).csv")
columns = ["movie_name",	"year"	,"genre"	,"overview"	,"director",	"cast"]
movie_data = movie_data[columns]
movie_data['director'] = movie_data['director'].str.split(',')
movie_data['cast'] = movie_data['cast'].str.split(',')
movie_data['genre'] = movie_data['genre'].str.split(',')
movie_data = movie_data.dropna()
movie_data.head()

<>:4: SyntaxWarning: invalid escape sequence '\m'
<>:4: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4460\1433904800.py:4: SyntaxWarning: invalid escape sequence '\m'
  movie_data = pd.read_csv("D:\movie_project\project\data\Bollywood-Movie-Dataset\IMDB-Movie-Dataset(2023-1951).csv")

,movie_name,year,genre,overview,director,cast
0,Jawan,2023,"[Action, Thriller]",A high-octane action thriller which outlines t...,[Atlee],"[Shah Rukh Khan, Nayanthara, Vijay Sethupath..."
1,Jaane Jaan,2023,"[Crime, Drama, Mystery]",A single mother and her daughter who commit a ...,[Sujoy Ghosh],"[Kareena Kapoor, Jaideep Ahlawat, Vijay Varm..."
2,Jailer,2023,"[Action, Comedy, Crime]",A retired jailer goes on a manhunt to find his...,[Nelson Dilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, Jack..."
3,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]",Flamboyant Punjabi Rocky and intellectual Beng...,[Karan Johar],"[Ranveer Singh, Alia Bhatt, Dharmendra, Sha..."
4,OMG 2,2023,"[Comedy, Drama]",An unhappy civilian asks the court to mandate ...,[Amit Rai],"[Pankaj Tripathi, Akshay Kumar, Yami Gautam,..."

In [3]:
movie_table = """
CREATE TABLE movies (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_name VARCHAR(255) NOT NULL,
    year INT NOT NULL,
    overview TEXT,
    director_id INT,
    FOREIGN KEY (director_id) REFERENCES directors(director_id)
);
"""

In [4]:
genre_table = """
CREATE TABLE genres (
    genre_id INT AUTO_INCREMENT PRIMARY KEY,
    genre_name VARCHAR(255) NOT NULL
);
"""

In [5]:
movie_genres_table = """
CREATE TABLE movie_genres (
    movie_id INT,
    genre_id INT,
    PRIMARY KEY (movie_id=None, genre_id),
    FOREIGN KEY (movie_id) REFERENCES movies(movie_id),
    FOREIGN KEY (genre_id) REFERENCES genres(genre_id)
);
"""

In [6]:
directors_table = """
CREATE TABLE directors (
    director_id INT AUTO_INCREMENT PRIMARY KEY,
    director_name VARCHAR(255) NOT NULL
);
"""

In [7]:
movie_casts_table = """
CREATE TABLE movie_casts (
    movie_id INT,
    cast_name VARCHAR(255),
    PRIMARY KEY (movie_id=None, cast_name),
    FOREIGN KEY (movie_id) REFERENCES movies(movie_id)
);
"""

In [28]:
from sqlalchemy import create_engine, Column, Integer, String, Text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import ForeignKey


Base = declarative_base()

class Movie(Base):
    __tablename__ = 'movies'

    movie_id = Column(Integer, primary_key=True,  autoincrement=True)
    movie_name = Column(String(255), nullable=False)
    year = Column(Integer, nullable=False)
    overview = Column(Text)
    
class Genre(Base):
    __tablename__ = 'genres'

    genre_id = Column(Integer, primary_key=True,  autoincrement=True)
    genre_name = Column(String(255), nullable=False)

class Director(Base):
    __tablename__ = 'directors'

    director_id = Column(Integer, primary_key=True,  autoincrement=True)
    director_name = Column(String(255), nullable=False)

class Cast(Base):
    __tablename__ = 'casts'

    cast_id = Column(Integer, primary_key=True,  autoincrement=True)
    cast_name = Column(String(255), nullable=False)

class MovieGenre(Base):
    __tablename__ = 'movie_genres'

    movie_id = Column(Integer, ForeignKey('movies.movie_id',ondelete="CASCADE"), primary_key=True)
    genre_id = Column(Integer, ForeignKey('genres.genre_id',ondelete="CASCADE"), primary_key=True)

class MovieCast(Base):
    __tablename__ = 'movie_casts'

    movie_id = Column(Integer, ForeignKey('movies.movie_id',ondelete="CASCADE"), primary_key=True)
    cast_id = Column(Integer, ForeignKey('casts.cast_id',ondelete="CASCADE"), primary_key=True)

class MovieDirector(Base):
    __tablename__ = 'movie_directors'

    movie_id = Column(Integer, ForeignKey('movies.movie_id',ondelete="CASCADE"), primary_key=True)
    director_id = Column(Integer, ForeignKey('directors.director_id',ondelete="CASCADE"), primary_key=True)

class Admin(Base):
    __tablename__ = 'admins'

    admin_id = Column(Integer, primary_key=True, autoincrement=True)
    username = Column(String(50), unique=True, nullable=False)
    password = Column(String(255), nullable=False)
    email = Column(String(100), unique=True, nullable=False)

# Replace 'mysql+mysqldb://user:password@localhost/db_name' with your MySQL database connection string
def create_tables():
    engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')
    Base.metadata.create_all(engine)

# Call this function to create the tables
create_tables()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4460\182008515.py:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [29]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def insert_movie(movie_name, year, overview, update ):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        
        if movie_name is not None or len(movie_name) != 0:

            movie = session.query(Movie).filter_by(movie_name=movie_name).first()

            if not movie:
                # Create a new movie instance
                new_movie = Movie(movie_name=movie_name, year=year, overview=overview)

                # Add the new movie to the session
                session.add(new_movie)

                # Commit the transaction
                session.commit()
                print("Movie inserted successfully!")

            elif update is True:

                if year is not None:
                    movie.year = year

                if overview is not None:
                    movie.overview = overview
                    
                session.commit()       
                print("Movie updated successfully!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error inserting movie: {e}")

    finally:
        # Close the session
        session.close()

In [30]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def insert_genre(genre_id=None,genre_name=None):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:

        if genre_name is not None or len(genre_name) != 0:


            genre = session.query(Genre).filter_by(genre_name=genre_name).first()

            if not genre:

                # Create a new genre instance
                new_genre = Genre(genre_id=genre_id, genre_name=genre_name )

            

                # Add the new genre to the session
                session.add(new_genre)

                # Commit the transaction
                session.commit()
                print("genre inserted successfully!")

            

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error inserting genre: {e}")

    finally:
        # Close the session
        session.close()

In [31]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def insert_director(director_id=None,director_name=None):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        if director_name is not None or len(director_name) != 0:

            director = session.query(Director).filter_by(director_name=director_name).first()

            if not director:

                # Create a new director instance
                new_director = Director(director_id=director_id, director_name=director_name )

                # Add the new director to the session
                session.add(new_director)

                # Commit the transaction
                session.commit()
                print("director inserted successfully!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error inserting director: {e}")

    finally:
        # Close the session
        session.close()

In [32]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def insert_cast(cast_id=None,cast_name=None):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        if cast_name is not None or len(cast_name) != 0:


            cast = session.query(Cast).filter_by(cast_name=cast_name).first()

            if not cast:

                # Create a new cast instance
                new_cast = Cast(cast_id=cast_id, cast_name=cast_name )

                # Add the new cast to the session
                session.add(new_cast)

                # Commit the transaction
                session.commit()
                print("cast inserted successfully!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error inserting cast: {e}")

    finally:
        # Close the session
        session.close()

In [33]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def insert_movie_genre(movie_name,genre_name):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:

        movie = session.query(Movie).filter_by(movie_name=movie_name).first()
        if not movie:
            print("Movie not found")

        genre = session.query(Genre).filter_by(genre_name=genre_name).first()
        if not genre:
            print("Genre not found ")

        if movie and genre:
        
            # Create a new movie_genre instance
            new_movie_genre = MovieGenre(movie_id=movie.movie_id, genre_id=genre.genre_id)

            # Add the new movie_genre to the session
            session.add(new_movie_genre)

            # Commit the transaction
            session.commit()
            print("movie_genre inserted successfully!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error inserting movie_genre: {e}")

    finally:
        # Close the session
        session.close()

In [34]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def insert_movie_cast(movie_name,cast_name):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        movie = session.query(Movie).filter_by(movie_name=movie_name).first()
        if not movie:
            print("Movie not found")

        cast = session.query(Cast).filter_by(cast_name=cast_name).first()
        if not cast:
            print("Cast not found ")
        
        if movie and cast:

            # Create a new movie_cast instance
            new_movie_cast = MovieCast(movie_id=movie.movie_id, cast_id=cast.cast_id )

            # Add the new movie_cast to the session
            session.add(new_movie_cast)

            # Commit the transaction
            session.commit()
            print("movie_cast inserted successfully!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error inserting movie_cast: {e}")

    finally:
        # Close the session
        session.close()

In [35]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def insert_movie_director(movie_name,director_name):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:

        movie = session.query(Movie).filter_by(movie_name=movie_name).first()
        if not movie:
            print("Movie not found")

        director = session.query(Director).filter_by(director_name=director_name).first()
        if not director:
            print("director not found")

        if movie and director:

            # Create a new movie_director instance
            new_movie_director = MovieDirector(movie_id=movie.movie_id, director_id=director.director_id)

            # Add the new movie_director to the session
            session.add(new_movie_director)

            # Commit the transaction
            session.commit()
            print("movie_director inserted successfully!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error inserting movie_director: {e}")

    finally:
        # Close the session
        session.close()

In [36]:
movie_name = "The Shawshank Redemption"
year = 1994
overview =  "Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency."
genre1 = "comedy"
genre2 = "horror"

cast1 = "preetham"
cast2 = "satish"

director1 = "Frank Darabont 1"
director2 = "Frank Darabont 2"




insert_movie(movie_name, year, overview, update=True)

insert_genre(genre_name = genre1)
insert_genre(genre_name = genre2)

insert_director(director_name=director1)
insert_director(director_name=director2)

insert_cast(cast_name=cast1)
insert_cast(cast_name=cast2)

insert_movie_genre(movie_name, genre1)
insert_movie_genre(movie_name, genre2)

insert_movie_cast(movie_name, cast1)
insert_movie_cast(movie_name, cast2)

insert_movie_director(movie_name, director1)
insert_movie_director(movie_name, director2)

Movie inserted successfully!
genre inserted successfully!
genre inserted successfully!
director inserted successfully!
director inserted successfully!
cast inserted successfully!
cast inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
movie_cast inserted successfully!
movie_cast inserted successfully!
movie_director inserted successfully!
movie_director inserted successfully!

In [37]:
Session = sessionmaker(bind=engine)
session = Session()
for cast in session.query(Director).all(): 
    print(vars(cast))

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001EA112EC470>, 'director_name': 'Frank Darabont 1', 'director_id': 1}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001EA112EC4D0>, 'director_name': 'Frank Darabont 2', 'director_id': 2}

In [38]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

def delete_movie(movie_name=None):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        # Query the movie by its ID
        movie = session.query(Movie).filter_by(movie_name=movie_name).first()

        if movie:
            # Delete the movie from the session
            session.delete(movie)

            # Commit the transaction
            session.commit()
            print("Movie deleted successfully!")
        else:
            print("Movie not found!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error deleting movie: {e}")

    finally:
        # Close the session
        session.close()


delete_movie("The Shawshank Redemption")  # Delete the movie with ID 1

Movie deleted successfully!

In [39]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

def delete_cast(cast_name=None):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        # Query the movie by its ID
        cast = session.query(Cast).filter_by(cast_name=cast_name).first()

        if cast:
            # Delete the movie from the session
            session.delete(cast)

            # Commit the transaction
            session.commit()
            print("cast deleted successfully!")
        else:
            print("cast not found!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error deleting cast: {e}")

    finally:
        # Close the session
        session.close()


delete_cast("preetham")  # Delete the movie with ID 1

cast deleted successfully!

In [40]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

def delete_director(director_name=None):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        # Query the movie by its ID
        director = session.query(Director).filter_by(director_name=director_name).first()

        if director:
            # Delete the movie from the session
            session.delete(director)

            # Commit the transaction
            session.commit()
            print("director deleted successfully!")
        else:
            print("director not found!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error deleting director: {e}")

    finally:
        # Close the session
        session.close()


delete_director("Frank Darabont")  # Delete the movie with ID 1

director not found!

In [41]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

def delete_genre(genre_name=None):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        # Query the movie by its ID
        genre = session.query(Genre).filter_by(genre_name=genre_name).first()

        if genre:
            # Delete the movie from the session
            session.delete(genre)

            # Commit the transaction
            session.commit()
            print("genre deleted successfully!")
        else:
            print("genre not found!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error deleting genre: {e}")

    finally:
        # Close the session
        session.close()


delete_genre("horror")  # Delete the movie with ID 1

genre deleted successfully!

In [42]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Admin(Base):
    __tablename__ = 'admins'

    admin_id = Column(Integer, primary_key=True, autoincrement=True)
    username = Column(String(50), unique=True, nullable=False)
    password = Column(String(255), nullable=False)
    email = Column(String(100), unique=True, nullable=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4460\1859180727.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [43]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker


def delete_admin(username):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        # Query the admin by its ID
        admin = session.query(Admin).filter_by(username=username).first()

        if admin:
            # Delete the admin from the session
            session.delete(admin)

            # Commit the transaction
            session.commit()
            print("Admin deleted successfully!")
        else:
            print("Admin not found!")

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error deleting admin: {e}")

    finally:
        # Close the session
        session.close()

# Example usage
delete_admin("admin1")  # Delete admin with ID 2

Admin not found!

In [44]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def insert_admin(username, password, email, update):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        
        if username is not None or len(username) != 0:

            admin = session.query(Admin).filter_by(username=username).first()

            if not admin:
                # Create a new movie instance
                new_admin = Admin(username=username, password=password, email=email)

                # Add the new movie to the session
                session.add(new_admin)

                # Commit the transaction
                session.commit()
                print("admin inserted successfully!")

            elif update is True:

                if password is not None:
                    admin.password = password

                if email is not None:
                    admin.email = email
                    
                session.commit()       
                print("admin updated successfully!")
            
            

    except Exception as e:
        # Rollback the transaction if an error occurs
        session.rollback()
        print(f"Error inserting admin: {e}")

    finally:
        # Close the session
        session.close()

# Example usage
insert_admin("admin1", "password1", "admin1@example.com",update=True)

admin inserted successfully!

In [45]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+mysqldb://satish:password@localhost/movie_db')

def get_movie_information(movie_name=None, movie_id=None):
    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()
    movie_info_dict = {}

    try:
        
        if movie_name is not None:
            # joined_info = session.query(
            #     Movie.movie_name,
            #     Movie.year,
            #     Movie.overview,
            #     Director.director_name,
            #     Cast.cast_name,
            #     Genre.genre_name
            # ).filter(Movie.movie_name == movie_name).all()

            joined_info = session \
                .query(
                    Movie.movie_name,
                    Movie.year,
                    Movie.overview,
                    Director.director_name,
                    Cast.cast_name,
                    Genre.genre_name
                ) \
                .outerjoin(MovieGenre, Movie.movie_id == MovieGenre.movie_id) \
                .outerjoin(MovieDirector, Movie.movie_id == MovieDirector.movie_id) \
                .outerjoin(MovieCast, Movie.movie_id == MovieCast.movie_id) \
                .outerjoin(Cast, MovieCast.cast_id == Cast.cast_id) \
                .outerjoin(Director, MovieDirector.director_id == Director.director_id) \
                .outerjoin(Genre, MovieGenre.genre_id == Genre.genre_id)\
                .filter(Movie.movie_name==movie_name) \
                .all()
            
            print(str(joined_info))

        # else:
        #     joined_info = session.query(
        #         Movie.movie_name,
        #         Movie.year,
        #         Movie.overview,
        #         Director.director_name,
        #         Cast.cast_name,
        #         Genre.genre_name
        #     ).filter(Movie.movie_id == movie_id).all()

        columns = ["movie_name", "year", "overview", "director", "cast", "genre"]
        df = pd.DataFrame(
           [{key: value for key, value in zip(columns, row)} for row in joined_info]  
        )
            
        movie_info_dict = {
            "movie_name" : df["movie_name"].unique().tolist()[0],
            "directors" : df["director"].unique().tolist(),
            "cast" : df["cast"].unique().tolist(),
            "genre" : df["genre"].unique().tolist(),
            "year" : df["year"].unique().tolist()[0],
            "overview" : df["overview"].unique().tolist()[0],
        }

    except Exception as e:
        print(f"Error getting movie information: {e}")

    finally:
        # Close the session
        session.close()

    return movie_info_dict

# Example usage
get_movie_information("The Shawshank Redemption")

[]
Error getting movie information: 'movie_name'

{}

In [46]:
def get_cast_list():

    Session = sessionmaker(bind=engine)
    session = Session()

    cast_list = []

    try:
        cast_list = session.query(Cast.cast_name).all()
        if cast_list:
            cast_list =  [cast_name[0] for cast_name in cast_list]
        
    except Exception as e:
        print(e)
    finally:
        session.close()

    return cast_list

get_cast_list()

['satish']

In [47]:
def get_genre_list():

    Session = sessionmaker(bind=engine)
    session = Session()

    genre_list = []

    try:
        genre_list = session.query(Genre.genre_name).all()
        if genre_list:
            genre_list =  [genre_name[0] for genre_name in genre_list]
        
    except Exception as e:
        print(e)
    finally:
        session.close()

    return genre_list

get_cast_list()

['satish']

In [48]:
def get_directors_list():

    Session = sessionmaker(bind=engine)
    session = Session()

    director_list = []

    try:
        director_list = session.query(Director.director_name).all()
        if director_list:
            director_list =  [director_info[0] for director_info in director_list]
        
    except Exception as e:
        print(e)
    finally:
        session.close()

    return director_list

get_directors_list()

['Frank Darabont 1', 'Frank Darabont 2']

In [49]:
def get_movies_list():

    Session = sessionmaker(bind=engine)
    session = Session()

    movies_list = []

    try:
        movies_list = session.query(Movie.movie_name).all()
        if movies_list:
            movies_list =  [movie_info[0] for movie_info in movies_list]
        
    except Exception as e:
        print(e)
    finally:
        session.close()

    return movies_list

get_movies_list()

[]

In [ ]:
"""
SELECT 
movies.movie_name AS movies_movie_name, 
movies.year AS movies_year, 
movies.overview AS movies_overview, 
directors.director_name AS directors_director_name, 
casts.cast_name AS casts_cast_name, 
genres.genre_name AS genres_genre_name 
FROM
    movies 
    INNER JOIN movie_genres ON movies.movie_id = movie_genres.movie_id 
    INNER JOIN movie_directors ON movies.movie_id = movie_directors.movie_id 
    INNER JOIN movie_casts ON movies.movie_id = movie_casts.movie_id 
    INNER JOIN casts ON movie_casts.cast_id = casts.cast_id 
    INNER JOIN directors ON movie_directors.director_id = directors.director_id 
    INNER JOIN genres ON movie_genres.genre_id = genres.genre_id
"""

In [50]:
def get_all_movies_by_year(year):

    Session = sessionmaker(bind=engine)
    session = Session()
    movies_by_year = []

    try:
        movies = session.query(
            Movie.movie_name,
        ).filter(Movie.year == year).all()

        
        for movie_name in movies:
            movies_by_year.append(get_movie_information(movie_name=movie_name[0]))

    except Exception as e:
        print(e)
    finally:
        session.close()

    return movies_by_year

get_all_movies_by_year(1994)

[]

In [51]:
def get_all_movies_by_genre(genre_name):

    Session = sessionmaker(bind=engine)
    session = Session()

    movies_by_genre = []

    try:

        joined_info_list = session.query(Genre.genre_id, MovieGenre.movie_id).filter(Genre.genre_name==genre_name).all()

        if joined_info_list:
            
            movie_ids = set([joined_info.movie_id for joined_info in joined_info_list])
            
            for movie_id in movie_ids:
                movies_by_genre.append(get_movie_information(movie_id=movie_id))
        
    except Exception as e:
        print(e)
    finally:
        session.close()

    return movies_by_genre


get_all_movies_by_genre("comedy")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4460\994666116.py:10: SAWarning: SELECT statement has a cartesian product between FROM element(s) "genres" and FROM element "movie_genres".  Apply join condition(s) between each element to resolve.
  joined_info_list = session.query(Genre.genre_id, MovieGenre.movie_id).filter(Genre.genre_name==genre_name).all()

[]

In [52]:
def get_all_movies_by_director(director_name):

    Session = sessionmaker(bind=engine)
    session = Session()

    movies_by_director = []

    try:

        joined_info_list = session.query(Director.director_name, MovieDirector.movie_id).filter(Director.director_name==director_name).all()

        if joined_info_list:
            
            movie_ids = set([joined_info.movie_id for joined_info in joined_info_list])
            
            for movie_id in movie_ids:
                movies_by_director.append(get_movie_information(movie_id=movie_id))
        
    except Exception as e:
        print(e)
    finally:
        session.close()

    return movies_by_director


get_all_movies_by_director("Frank Darabont 1")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4460\12280782.py:10: SAWarning: SELECT statement has a cartesian product between FROM element(s) "directors" and FROM element "movie_directors".  Apply join condition(s) between each element to resolve.
  joined_info_list = session.query(Director.director_name, MovieDirector.movie_id).filter(Director.director_name==director_name).all()

[]

In [53]:
def get_all_movies_by_cast(cast_name):

    Session = sessionmaker(bind=engine)
    session = Session()

    movies_by_cast = []

    try:

        joined_info_list = session.query(Cast.cast_name, MovieCast.movie_id).filter(Cast.cast_name==cast_name).all()

        if joined_info_list:
            
            movie_ids = set([joined_info.movie_id for joined_info in joined_info_list])
            
            for movie_id in movie_ids:
                movies_by_cast.append(get_movie_information(movie_id=movie_id))
        
    except Exception as e:
        print(e)
    finally:
        session.close()

    return movies_by_cast


get_all_movies_by_cast("Preetham")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4460\3255293997.py:10: SAWarning: SELECT statement has a cartesian product between FROM element(s) "movie_casts" and FROM element "casts".  Apply join condition(s) between each element to resolve.
  joined_info_list = session.query(Cast.cast_name, MovieCast.movie_id).filter(Cast.cast_name==cast_name).all()

[]

In [54]:
get_movie_information("movie_name=")

[]
Error getting movie information: 'movie_name'

{}

In [55]:
def add_movie_info(
        movie_name,
        overview,
        genre,
        cast,
        directors,
        year
):

        insert_movie(movie_name, year, overview, update=True)

        for _genre in genre:
                
                insert_genre(genre_name = _genre)
                insert_movie_genre(movie_name, _genre)
        
        for _director in directors:
                insert_director(director_name=_director)
                insert_movie_director(movie_name, _director)

        for _cast in cast:
                insert_cast(cast_name=_cast)
                insert_movie_cast(movie_name, _cast)


add_movie_info(
        **get_all_movies_by_cast("Preetham")[0]
)

IndexError: list index out of range

In [57]:
def insert_movie_info_from_csv(csv_path):

    movie_data = pd.read_csv(csv_path)
    columns = ["movie_name",	"year"	,"genre"	,"overview"	,"director",	"cast"]
    movie_data = movie_data[columns]
    movie_data['directors'] = movie_data['director'].str.split(',')
    movie_data['cast'] = movie_data['cast'].str.split(',')
    movie_data['genre'] = movie_data['genre'].str.split(',')
    movie_data = movie_data.dropna()
    movie_data = movie_data.drop(columns=['director'])

    for data in movie_data.to_dict(orient='records'):
        add_movie_info(**data)

    return movie_data

insert_movie_info_from_csv("D:\movie_project\project\data\Bollywood-Movie-Dataset\IMDB-Movie-Dataset(2023-1951).csv")

<>:17: SyntaxWarning: invalid escape sequence '\m'
<>:17: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4460\2572810875.py:17: SyntaxWarning: invalid escape sequence '\m'
  insert_movie_info_from_csv("D:\movie_project\project\data\Bollywood-Movie-Dataset\IMDB-Movie-Dataset(2023-1951).csv")

Movie inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
movie_cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
Movie inserted successfully!
movie_genre inserted successfully!
genre inserted successfully!
movie_genre inserted successfully!
movie_genre inserted successfully!
director inserted successfully!
movie_director inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!
cast inserted successfully!
movie_cast inserted successfully!

,movie_name,year,genre,overview,cast,directors
0,Jawan,2023,"[Action, Thriller]",A high-octane action thriller which outlines t...,"[Shah Rukh Khan, Nayanthara, Vijay Sethupath...",[Atlee]
1,Jaane Jaan,2023,"[Crime, Drama, Mystery]",A single mother and her daughter who commit a ...,"[Kareena Kapoor, Jaideep Ahlawat, Vijay Varm...",[Sujoy Ghosh]
2,Jailer,2023,"[Action, Comedy, Crime]",A retired jailer goes on a manhunt to find his...,"[Rajinikanth, Mohanlal, Shivarajkumar, Jack...",[Nelson Dilipkumar]
3,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]",Flamboyant Punjabi Rocky and intellectual Beng...,"[Ranveer Singh, Alia Bhatt, Dharmendra, Sha...",[Karan Johar]
4,OMG 2,2023,"[Comedy, Drama]",An unhappy civilian asks the court to mandate ...,"[Pankaj Tripathi, Akshay Kumar, Yami Gautam,...",[Amit Rai]
5,Sukhee,2023,[Drama],"Much to the dismay of her husband, a middle-cl...","[Shilpa Shetty Kundra, Amit Sadh, Chaitannya...",[Sonal Joshi]
6,The Great Indian Family,2023,[Family],"Ved Vyas Tripathi, aka Bhajan Kumar, is a devo...","[Alka Amin, Bhuvan Arora, Manushi Chhillar, ...",[Vijay Krishna Acharya]
7,The BFG,2016,"[Adventure, Family, Fantasy]",An orphan little girl befriends a benevolent g...,"[Mark Rylance, Ruby Barnhill, Penelope Wilto...",[Steven Spielberg]
8,Pathaan,2023,"[Action, Adventure, Thriller]",An Indian agent races against a doomsday clock...,"[Shah Rukh Khan, Deepika Padukone, John Abra...",[Siddharth Anand]
9,Mastaney,2023,"[Action, Drama, History]","Set in 1739, Nadar Shah's undefeated army was ...","[Tarsem Jassar, Simi Chahal, Gurpreet Ghuggi...",[Sharan Art]
10,3 Idiots,2009,"[Comedy, Drama]",Two friends are searching for their long lost ...,"[Aamir Khan, Madhavan, Mona Singh, Sharman ...",[Rajkumar Hirani]
11,Satyaprem Ki Katha,2023,"[Comedy, Drama, Musical]","A middle-class boy in Ahmedabad, Satyaprem fal...","[Kartik Aaryan, Kiara Advani, Supriya Pathak...",[Sameer Vidwans]
12,Lion,2016,"[Biography, Drama]",A five-year-old Indian boy is adopted by an Au...,"[Dev Patel, Nicole Kidman, Rooney Mara, Sun...",[Garth Davis]
13,Bholaa Shankar,2023,"[Action, Drama]",A doting brother tries to hunt down notorious ...,"[Chiranjeevi, Tamannaah Bhatia, Keerthy Sure...",[Meher Ramesh]
14,Haddi,2023,"[Crime, Drama]","In this ZEE5 Original film, a transgender, Had...","[Nawazuddin Siddiqui, Anurag Kashyap, Mohd. ...",[Akshat Ajay Sharma]
15,Friday Night Plan,2023,"[Comedy, Drama]",When their mother takes off on a business trip...,"[Babil Khan, Amrith Jayan, Medha Rana, Aadh...",[Vatsal Neelakantan]
16,Neeyat,2023,"[Crime, Mystery, Thriller]",When a mysterious murder takes place at exiled...,"[Vidya Balan, Ram Kapoor, Rahul Bose, Neera...",[Anu Menon]
17,Gadar 2,2023,"[Action, Adventure, Drama]",When Tara Singh goes missing during a skirmish...,"[Sunny Deol, Amrish Puri, Nana Patekar, Ame...",[Anil Sharma]
18,Por Thozhil,2023,"[Action, Crime, Thriller]",A bright but faint-hearted rookie cop has to o...,"[R. Sarathkumar, Ashok Selvan, Nikhila Vimal...","[Vignesh Raja, T. Senthil Paramasivam]"
19,Life of Pi,2012,"[Adventure, Drama, Fantasy]",A young man who survives a disaster at sea is ...,"[Suraj Sharma, Irrfan Khan, Adil Hussain, T...",[Ang Lee]
20,Asoka,2001,"[Action, Biography, Drama]",The epic tale of King Asoka's life is recounted.,"[Shah Rukh Khan, Kareena Kapoor, Danny Denzo...",[Santosh Sivan]